@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,500;1,600&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Poppins;
}

html,
body {
	scroll-behavior: smooth;
	font-size: 16px;
	background-color: var(--grey);
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	vertical-align: middle;
}

:root {
	--white: hsla(0, 0%, 100%, 1);
	--white_a8: hsla(0, 0%, 100%, 0.08);
	--white_a12: hsla(0, 0%, 100%, 0.12);
	--cultured: hsla(220, 20%, 97%, 1);
	--snow: hsla(345, 57%, 97%, 1);
	--manatee: hsla(219, 10%, 62%, 1);
	--cadet-blue-crayola_a20: hsla(222, 23%, 71%, 0.2);
	--cinnamon-satin: hsla(344, 53%, 62%, 1);
	--raisin-black: hsla(216, 14%, 14%, 1);
	--raisin-black_a6: hsla(216, 14%, 14%, 0.06);
	--gunmetal: hsla(214, 15%, 21%, 1);
	--charcoal: hsla(219, 22%, 26%, 1);

	--black-coral: hsla(220, 12%, 43%, 1);
	--grey: #f5f5f5;
	--black: #000000;
	--orange: #ec994b;
}
.section {
	min-height: 100vh;
	padding: 1rem;
	max-width: 1300px;
	margin: 0 auto;
}
.center__block {
	margin: 0 auto;
}
.side {
	width: 48%;
	margin: 0 auto;
}

.flex__container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	text-align: center;
	padding: 10px 7px;
	border-radius: 5px;
	border: none;
	width: 100%;
	cursor: pointer;
	transition: all ease-in-out 400ms;
}
.btn__c1 {
	background-color: var(--manatee);
	color: var(--white);
}
.btn__c1:hover {
	background-color: var(--white);
	color: var(--manatee);
}
.btn__c2 {
	background-color: var(--white);
	color: var(--manatee);
}
.btn__c2:hover {
	background-color: var(--manatee);
	color: var(--white);
}
.btn__c3 {
	background-color: var(--cadet-blue-crayola_a20);
	color: var(--black-coral);
}
.btn__c3:hover {
	background-color: var(--manatee);
	color: var(--white);
}

.cont__btn {
	margin-top: 2rem;
}

.section__tittle {
	text-align: center;
	font-size: 3.2rem;
	margin-bottom: 1.1rem;
}

.text {
	font-size: 1rem;
	padding: 0.3rem;
}
/* HEADER */

.header .nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 1rem;
}

.header .nav .nav__menu {
	display: none;
}
.header .nav .nav__menu .button {
	border: none;
}
.header .nav .nav__menu .button i {
	font-size: 2rem;
}

.header .nav .nav__links {
	overflow: hidden;
}
.header .nav ul {
	display: flex;
	align-items: center;
	height: 100%;
}
.header .nav ul li {
	margin: 1rem;
}
.header .nav .nav__links a {
	font-size: 1.2rem;
	display: inline-block;
	position: relative;
	color: var(--raisin-black);
	font-weight: var(--weight-M);
}
.header .nav .nav__links a:after {
	content: "";
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	transition: all 0.8s;
}
.header .nav .nav__links a:hover:after {
	width: 100%;
	background-color: var(--raisin-black);
}

/* ---- MAIN ---- */
/* header */

.main .presentation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main .presentation .presentacion__mini {
	margin: 0 auto; /* UNO */
}
.main .presentation .presentacion__mini .first__W {
	font-size: 4rem;
	color: var(--orange);
}
.main .presentation .presentacion__mini .name {
	font-size: 2rem;
	line-height: 1.1;
}
.main .presentation .presentacion__mini .degree {
	font-size: 3.5rem;
	line-height: 1.1;
	padding: 1rem 0;
}
.main .presentation .presentacion__mini .summary {
	font-size: 1.2rem;
	color: var(--black-coral);
}

.main .presentacion__encabezado {
	margin: 0 auto; /* UNO */
	display: flex;
	justify-content: space-between;
}
.main .presentacion__encabezado .cont_img__header {
	text-align: center;
	max-width: 500px;
}

.main .presentacion__encabezado .social__links {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.main .presentacion__encabezado .social__links i {
	color: var(--black-coral);
	font-size: 2rem;
}
.main .presentacion__encabezado .social__links i:hover {
	color: var(--black);
}

/* proyects */

.main .proyects .cont__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}
.main .proyects .cont__cards .card {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	padding: 10px;
	height: 370px;
	transition: all 0.5s ease;
}
.main .proyects .cont__cards .card:hover {
	transform: scale(1.04);
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	padding: 10px;
	height: 370px;
}
.main .proyects .cont__cards .card .cont__img {
	height: 190px;
}
.main .proyects .cont__cards .card .cont__img img {
	border-radius: 5px;
}
.main .proyects .cont__cards .card .resume__proyect .type__proyect {
	padding-top: 0.3rem;
	color: var(--orange);
}
.main .proyects .cont__cards .card .resume__proyect .name__proyect {
	padding-top: 0.7rem;
}
.main .proyects .cont__cards .card .resume__proyect .info__proyect {
	font-size: var(--small-font-size);
}
.main .proyects .cont__cards .card .resume__proyect .cont__linksCard {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 0.8rem;
}
.main .proyects .cont__cards .card .resume__proyect .cont__linksCard a {
	color: var(--orange);
}
/* Proyect.html */
.main .proyects .cont__ProyectLink {
	margin-top: 1rem;
}
.main .proyects .cont__ProyectLink a {
	display: block;
}

/* about */
.main .about .about__info .cont__btn-cv {
	margin-top: 1rem;
}
.main .about .about__info .cont__btn-cv .btn-cv {
	display: block;
}
.main .about .tecnologies {
	margin: 1rem auto 0rem auto;
}
.main .about .tecnologies h3 {
	margin-bottom: 1rem;
}
.main .about .tecnologies .cont__logos {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 7px;
	row-gap: 25px;
}
.main .about .tecnologies .cont__logos .cont__logo {
	text-align: center;
	max-width: fit-content;
	height: 100px;
}
.main .about .tecnologies .cont__logos .cont__logo img {
	width: 100px;
	height: 100px;
	object-fit: contain;
	border-radius: 10px;
}

.main .about .about__imgCont {
	margin: 0 auto;
	max-width: 600px;
}

/* contact */
.main .contact {
	min-height: auto;
	padding: 0rem 1rem 5rem 1rem;
}
.main .contact .cont__form {
	background-color: #ffffff;
	border-radius: 10px;
}

.main .contact .cont__form .form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	min-height: 400px;
}

.main .contact .cont__form .cont__input {
	width: 90%;
}
.main .contact .cont__form .cont__input .label {
	display: block;
	margin-bottom: 0.2rem;
}
.main .contact .cont__form .cont__input .input {
	width: 100%;
	border: none;
	border-radius: 5px;
	padding: 7px;
	background-color: #f5f5f5;
}
/* ---- FOOTER ----*/

.footer {
	min-height: 120px;
	background-color: #251b37;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: var(--black-coral);
}

.footer .footer__links {
	width: 33.33%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.footer .footer__links a i {
	font-size: 2rem;
	font-weight: 300;
	color: var(--black-coral);
}
.footer .footer__links a i:hover {
	color: var(--black);
}
.footer .footer__name {
	width: 33.33%;
	text-align: center;
}
.footer .footer__right {
	width: 33.33%;
	text-align: center;
}

.cont__img {
	text-align: center;
	max-width: 500px;
}

@media screen and (max-width: 640px) {
	body {
		font-size: 14px;
	}
	.side {
		width: 100%;
	}
	.flex__container {
		flex-direction: column;
		justify-content: space-evenly;
		min-height: 800px;
	}
	.section__tittle {
		font-size: 8vw;
		margin-bottom: 0.9rem;
	}
	.header .nav {
		justify-content: end;
		padding: 1rem;
	}

	.header .nav .nav__menu {
		display: block;
	}

	.header .nav .nav__links {
		height: 0;
		width: 100%;
		transition: all 0.5s ease;
	}
	.header .nav .nav__links.active {
		height: 100vh;
	}

	.header .nav ul {
		flex-direction: column;
		justify-content: center;
	}
	.header .nav ul li {
		margin: 1.3rem 0;
	}

	/* main */

	.main .presentation .presentacion__mini .first__W {
		font-size: 6vw;
	}
	.main .presentation .presentacion__mini .name {
		font-size: 5vw;
	}
	.main .presentation .presentacion__mini .degree {
		font-size: 8.3vw;
		line-height: 1.1;
		padding: 0.4rem 0;
	}
	.main .presentation .presentacion__mini .summary {
		font-size: 4vw;
	}

	.main .presentation {
		flex-direction: column;
		justify-content: space-evenly;
	}

	.main .presentacion__encabezado {
		flex-direction: column;
		justify-content: space-evenly;
	}

	.main .presentacion__encabezado .social__links {
		flex-direction: row;
	}

	/* proyects */
	.main .proyects .cont__cards {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 1rem;
	}
	/* about */
	.main .about {
		flex-direction: column-reverse;
	}
	.main .about .about__info {
		width: 100%;
		font-size: 0.75rem;
	}
	.main .about .tecnologies {
		padding: 15px 7px;
	}
	.main .about .tecnologies h3 {
		margin-bottom: 0.4rem;
	}
	.main .about .tecnologies .cont__logos {
		row-gap: 3px;
	}
	.main .about .tecnologies .cont__logos .cont__logo img {
		width: 60px;
		height: 60px;
	}
	/* contact */
	.main .contact {
		padding: 1rem;
	}

	.main .contact .cont__form {
		border-radius: 7px;
	}

	.main .contact .cont__form .form {
		min-height: 320px;
		padding: 5px 0px;
	}
	.main .contact .cont__form .cont__input {
		width: 95%;
	}
	.main .contact .cont__form .cont__input .label {
		display: block;
		margin-bottom: 0.13rem;
	}
	.main .contact .cont__form .cont__input .input {
		padding: 5px;
	}

	.main .contact .cont__form .cont__input .submit__input {
		margin-top: 0.4rem;
		background-color: #f5f5f5;
	}
	.main .contact .cont__form .cont__input .submit__input:hover {
		background-color: #ffe3e1;
		cursor: pointer;
	}
	/* ---- FOOTER ----*/

	.footer {
		flex-direction: column;
		justify-content: space-evenly;
	}

	.footer .footer__links {
		width: 100%;
		justify-content: space-evenly;
	}
	.footer .footer__name {
		width: 100%;
	}
	.footer .footer__right {
		width: 100%;
	}
}

@media screen and (min-width: 640px) and (max-width: 1280px) {
	.section__tittle {
		font-size: 2.3rem;
		margin-bottom: 1rem;
	}

	.main .presentation .presentacion__mini .first__W {
		font-size: 2.5rem;
	}
	.main .presentation .presentacion__mini .name {
		font-size: 1.4rem;
	}
	.main .presentation .presentacion__mini .degree {
		font-size: 3.3rem;
		line-height: 1.1;
	}
	.main .presentation .presentacion__mini .summary {
		font-size: 1rem;
	}
	/* proyects */
	.main .proyects .cont__cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.5rem;
	}

	/* about */

	.main .about .tecnologies {
		padding: 15px 7px;
	}
	.main .about .tecnologies h3 {
		margin-bottom: 0.6rem;
	}
	.main .about .tecnologies .cont__logos {
		column-gap: 7px;
		row-gap: 25px;
	}
}
